<% @servers.each do |s| %>

  <% if s.up? %>
    <div class="alert alert-success">
      <strong><%= "#{s.name}" %></strong>
    </div>
  <% else %>
  
    <div class="alert alert-error">
      <strong><%= "#{s.name}" %></strong>
    </div>
  
  <% end %>

<% end %>